In [1]:
import pandas as pd
import numpy as np
from datetime import datetime , timedelta
from sklearn.preprocessing import OrdinalEncoder
import seaborn as sns
import plotly.express as px
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv(r'C:\Users\ayish\GuviProjects\Industrial-copper Project\Copper_Set.xlsx - Result 1.csv')

In [3]:
df.head()

,id,item_date,quantity tons,customer,country,status,item type,application,thickness,width,material_ref,product_ref,delivery date,selling_price
0,EC06F063-9DF0-440C-8764-0B0C05A4F6AE,20210401.0,54.151139,30156308.0,28.0,Won,W,10.0,2.00,1500.0,DEQ1 S460MC,1670798778,20210701.0,854.00
1,4E5F4B3D-DDDF-499D-AFDE-A3227EC49425,20210401.0,768.024839,30202938.0,25.0,Won,W,41.0,0.80,1210.0,0000000000000000000000000000000000104991,1668701718,20210401.0,1047.00
2,E140FF1B-2407-4C02-A0DD-780A093B1158,20210401.0,386.127949,30153963.0,30.0,Won,WI,28.0,0.38,952.0,S0380700,628377,20210101.0,644.33
3,F8D507A0-9C62-4EFE-831E-33E1DA53BB50,20210401.0,202.411065,30349574.0,32.0,Won,S,59.0,2.30,1317.0,DX51D+ZM310MAO 2.3X1317,1668701718,20210101.0,768.00
4,4E1C4E78-152B-430A-8094-ADD889C9D0AD,20210401.0,785.526262,30211560.0,28.0,Won,W,10.0,4.00,2000.0,2_S275JR+AR-CL1,640665,20210301.0,577.00

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181673 entries, 0 to 181672
Data columns (total 14 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id             181671 non-null  object
 1   item_date      181672 non-null  float64
 2   quantity tons  181673 non-null  object
 3   customer       181672 non-null  float64
 4   country        181645 non-null  float64
 5   status         181671 non-null  object
 6   item type      181673 non-null  object
 7   application    181649 non-null  float64
 8   thickness      181672 non-null  float64
 9   width          181673 non-null  float64
 10  material_ref   103754 non-null  object
 11  product_ref    181673 non-null  int64
 12  delivery date  181672 non-null  float64
 13  selling_price  181672 non-null  float64
dtypes: float64(8), int64(1), object(5)
memory usage: 19.4+ MB

In [8]:
df.columns

Index(['id', 'item_date', 'quantity tons', 'customer', 'country', 'status',
       'item type', 'application', 'thickness', 'width', 'material_ref',
       'product_ref', 'delivery date', 'selling_price'],
      dtype='object')

In [4]:
df['item_date']=pd.to_datetime(df['item_date'],format='%Y%m%d', errors='coerce').dt.date
df['quantity tons']=pd.to_numeric(df['quantity tons'],errors='coerce')
df['customer']=pd.to_numeric(df['customer'],errors='coerce')
df['application']=pd.to_numeric(df['application'],errors='coerce')
df['thickness']=pd.to_numeric(df['thickness'], errors='coerce')
df['width']=pd.to_numeric(df['width'],errors='coerce')
df['product_ref']=pd.to_numeric(df['product_ref'],errors='coerce')
df['delivery date']=pd.to_datetime(df['delivery date'],format='%Y%m%d', errors='coerce').dt.date
df['selling_price']=pd.to_numeric(df['selling_price'], errors='coerce')
#df['material_ref'] = df['material_ref'].str.lstrip('0')

In [12]:
df.sample(3)

,id,item_date,quantity tons,customer,country,status,item type,application,thickness,width,material_ref,product_ref,delivery date,selling_price
95072,9B7B1C1B-E3D2-408F-87F2-73748AB4078A,2020-11-25,29.655416,30329913.0,77.0,Won,S,56.0,1.00,1050.0,NaN,1693867550,2021-01-01,792.0
78801,E013715C-3BF0-463A-BF1E-164E9752F99D,2020-12-11,9.831843,30148586.0,32.0,Won,W,41.0,0.51,1250.0,8004/40/1250/0.50,611993,2021-01-01,1180.0
33299,914B0897-EB8D-4886-8836-31809894EAAD,2021-02-23,8.717944,30344219.0,32.0,Won,W,10.0,1.25,981.0,NaN,1668701718,2021-07-01,1024.0

In [5]:
df['material_ref']=df['material_ref'].apply(lambda x: np.nan if str(x).startswith('00000') else x)

In [22]:
#pd.options.mode.copy_on_write = True

In [6]:
df['material_ref'].fillna("Unknown",inplace=True)

In [7]:
df.isnull().sum()

id                2
item_date         3
quantity tons     1
customer          1
country          28
status            2
item type         0
application      24
thickness         1
width             0
material_ref      0
product_ref       0
delivery date     3
selling_price     1
dtype: int64

In [8]:
#Fill the null values using forward fill for date columns and mode for category columns and median for continuous columns:

df['item_date'].fillna(method='ffill',inplace=True)
df['delivery date'].fillna(method='ffill',inplace=True)
df['status'].fillna(df['status'].mode().iloc[0], inplace=True)
df['quantity tons'].fillna(df['quantity tons'].median(),inplace=True)
df['country'].fillna(df['country'].median(),inplace=True)
df['application'].fillna(df['application'].median(),inplace=True)
df['thickness'].fillna(df['thickness'].median(),inplace=True)
df['selling_price'].fillna(df['selling_price'].median(),inplace=True)

In [9]:
df=df.dropna()

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 181670 entries, 0 to 181672
Data columns (total 14 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id             181670 non-null  object
 1   item_date      181670 non-null  object
 2   quantity tons  181670 non-null  float64
 3   customer       181670 non-null  float64
 4   country        181670 non-null  float64
 5   status         181670 non-null  object
 6   item type      181670 non-null  object
 7   application    181670 non-null  float64
 8   thickness      181670 non-null  float64
 9   width          181670 non-null  float64
 10  material_ref   181670 non-null  object
 11  product_ref    181670 non-null  int64
 12  delivery date  181670 non-null  object
 13  selling_price  181670 non-null  float64
dtypes: float64(7), int64(1), object(6)
memory usage: 20.8+ MB

In [11]:
df['status'].unique()

array(['Won', 'Draft', 'To be approved', 'Lost', 'Not lost for AM',
       'Wonderful', 'Revised', 'Offered', 'Offerable'], dtype=object)

In [12]:
df['status'].unique()

array(['Won', 'Draft', 'To be approved', 'Lost', 'Not lost for AM',
       'Wonderful', 'Revised', 'Offered', 'Offerable'], dtype=object)

In [13]:
from sklearn.preprocessing import OrdinalEncoder
OE=OrdinalEncoder()
df['status']=df['status'].map({'Lost':0,'Won':1,'Draft':2,'To be approved':3,
                              'Not lost for AM':4, 'Wonderful':5,'Revised':6,'Offered':7,'Offerable':8 })
df['item type']=OE.fit_transform(df[['item type']])

In [ ]:
#Skewness Handling- Feature scaling(Log transformation)
def plot(df,column):
    plt.figure(figsize=(20,5))
    plt.subplot(1,3,1)
    sns.boxplot(data=df, x=column)
    plt.title(f'Box plot for {column}')

    plt.subplot(1,3,2)
    sns.histplot(data=df, x=column)